<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SistemaDeVendas.Properties.Settings.db_infoConnectionString"
            connectionString="Data Source=DESKTOP-Q888IKU\SQLEXPRESS;Initial Catalog=db_info;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>